################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EToastr
/EToastr/Debug
/Debug/EToastr.pdb
/Debug/EToastr.ilk
/Debug
/EToastr/EToastr.pro.user
/.vs